html, body {
    display: flex;
    flex-grow: 1;
    margin: 0;
    font-family: "Verdana", sans-serif;
    height: 100%;
}

h2 {
    font-size: 4vmin;
    font-weight: normal;
}

li, span {
    font-size: 5vmin;
}

div#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;  
}

div.content {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.vcentered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hcentered {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.waitingNumbers ul {
    padding: 0;
}

.waitingNumbers li {
    list-style-type: none;
}

.nextNumber span {
    font-size: 30vmin;
}

.currentNumber span {
    font-size: 15vmin;
}

footer.controls {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
}

footer.controls div {
    display: flex;
    flex-grow: 1;
}

footer.controls div button {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    height: 10vmin;
}